body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.4;
}

/* PRODUCT */
.product {
  border: 5px solid #000;
}

.product-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  background-color: #f7f7f7;
}

.price {
  font-size: 24px;
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.details-title {
  text-transform: uppercase;
  font-size: 16px;
}

.details-list {
  list-style: square;
}
/* BUTTON */
.add-to-cart {
  background-color: #000;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.add-to-cart:hover {
  color: black;
  background-color: #fff;
}
